<!DOCTYPE html>
 <html>
  <head>
   <title>Endless Sound</title>	
   <link type="text/css" rel="stylesheet" href="/stylesheets/main.css" />
  </head>
  <body>
  	<h1>Endless Sound</h1>
  	<hr>
  	<h2>Welcome To The Sound Muse: </h2>
    <div id="searchBlock">
  	<form id="searchForm" >
  	 <label for="linkSearch"> Search User Links:</label>
  	 <input name="linkSearch" type="text" id="linkSearch" placeholder="Search" >
  	 <input id="submit" type="submit" value="submit">
  	</form>

    </div>
    <br>
    <br>
    <br>
    <h3>Search Results</h3>
    <span id="response"></span>
    <hr>
    <br>
    <br>
    <div id="results">
     <ul id="resultList">
     	<!-- <li class="resultItem">
     	  <img class="itemImage" src="https://i1.sndcdn.com/avatars-000062861958-60isd8-t500x500.jpg?e76cf77" width="150px" height="150px">
     	  <div class="itemContent">
     	   <div class="itemName">Majestic Casual</div>
     	   <a class="permalink" href="https://soundcloud.com">soundcloud.com</a>
     	   <div class="itemDetail">
     	    <span class="itemId">12894812312</span>
     	    <span class="followers">192</span>     	    
     	   </div>     	    
     	  </div>
     	</li> -->
     </ul>
    </div>
    <script type="text/javascript" src="/js/jquery-1.11.1.min.js" ></script>
    <script src="http://connect.soundcloud.com/sdk.js"></script>
    <script type="text/javascript" src="/js/main.js" ></script>
  </body>
 </html>