<!DOCTYPE html>
 <html>
  <head>
   <title>Endless Sound</title>	
   <link type="text/css" rel="stylesheet" href="/stylesheets/musicpage.css" />
  </head>
  <body>
   <a href='/'>
     <div id="logo"></div>
   </a>
   <div id ='mainholder'>
      <div id="musicbutton" value="skia" class="playButton"></div>
      <img id="coverArt" src="" />
      <div id="main-content">
        <div id="currentSong"></div>
        <div id="currentArtist"></div>
      </div>
    </div>
   <div class="main">
    <div class="base"></div>
    <div class="collection move">
     <ul id="tracklist">
     </ul>
    </div>
    <script type="text/javascript" src="/js/jquery-1.11.1.min.js" ></script>
    <script type="text/javascript" src="/js/soundmanager2.js" ></script>
    <script type="text/javascript" src="/js/audioplayer.js" ></script>   
   </div>
  </body>
 </html>